.page {
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
}
.header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(1.8rem, 10vw, 3rem);
  font-weight: 600;
  user-select: none;
}
.addBtn {
  background: #96ff85;
  width: clamp(2.2rem, 10vw, 3rem);
  height: clamp(2.2rem, 10vw, 3rem);
  padding: 0.3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.subTitle {
  padding: 0.4rem;
}

.cardsContainer {
  width: 100%;
  height: auto;
  display: flex;
  padding: 1.5rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  width: 18rem;
  height: auto;
  border-radius: 0.5rem;
  padding: 1.2rem;
  word-break: break-all;
  color: #fff;
  flex-grow: 1;
  background: #333;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stats {
  border-radius: 0.4rem;
  background: #222;
  padding: 0.6rem;
  color: #ccc;
}
.stats span {
  color: #fff;
  font-weight: 500;
  user-select: none;
}
.stats:nth-child(3) {
  color: rgb(175, 255, 172);
}
.stats:nth-child(4) {
  color: rgb(172, 172, 255);
  flex-grow: 1;
}

.btns {
  display: flex;
  gap: 0.5rem;
}
.updateBtn,
.deleteBtn {
  flex-grow: 1;
  line-height: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background: rgb(255, 104, 58);
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}
.updateBtn {
  background: rgb(255, 197, 39);
}

.logout {
  width: 100%;
  max-width: 10rem;
  text-align: center;
  background: rgb(255, 58, 58);
  height: 2rem;
  border-radius: 0.4rem;
  line-height: 2rem;
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  margin: 0 auto;
  font-weight: 500;
}
