.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2rem 0;
}
.title {
  color: #fff;
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
}

.form {
  background: #222222;
  width: 90%;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form label {
  color: #fff;
  text-align: left;
  width: 100%;
  user-select: none;
  cursor: pointer;
}
.form input,
.submit {
  width: 100%;
  color: #fff;
  height: 2.8rem;
  margin: 0.6rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid #555;
}
.submit {
  font-weight: 500;
  border: none;
  background-color: #4d89ff;
  background-image: linear-gradient(to top left, #4d89ff, #c892ff);
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.switch {
  margin: 0.8rem;
  color: #fff;
}
.switch a {
  font-weight: 600;
  padding: 0 0.5rem;
}
